@model PqDiversoes.Models.Parque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtdBrinquedos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtdBrinquedos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
